
p.vamsi{font-size:x-small}
body{column-count: 2;
border-style:solid; background-image: url(https://static.vecteezy.com/system/resources/thumbnails/007/420/874/original/geometric-animated-background-light-color-free-video.jpg); opacity: 1; color: black;}
body{box-sizing:border-box;}
